body {
  background-image: url(../public/foto\ sfondo.webp);
  /* font-family: "Briem Hand", regular400 !important; */
  height: 100vh;
}

/* //////////////////////////////NAVBAR/////////////////////////////// */
.navbar-custom {
  background-color: #9dc183;
}

.custom-modal .modal-content {
  background-color: #f0f0f0;
  color: #333;
}

.custom-modal .modal-header {
  background-color: #9dc183;
}

.custom-modal .modal-footer {
  background-color: #9dc183;
}

.carousel-container {
  width: 50%;
  margin: auto;
}

.carousel-item {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card {
  border: 2px solid #9dc183 !important;
}

.card-color {
  background-color: rgba(157, 193, 131, 0.5) !important;
}

.card-img-container {
  width: 1800px; /* Imposta la larghezza desiderata per l'immagine */
}

.card-img {
  height: 220px;
  object-fit: cover; /* Imposta l'altezza in modo che l'immagine mantenga le proporzioni */
}

.footer-cont {
  background-color: #9dc183;
}

.form-custom {
  border: 2px solid #9dc183 !important;
  background-color: rgba(157, 193, 131, 0.5) !important;
}

.list-item {
  text-align: left !important;
  border: none !important;
}
